.slide-right
  &-enter, &-appear
    transform: translateX(100vw)
  &-enter-active, &-appear-active
    transform: translateX(0)
    transition: transform 300ms

.fade
  &-enter, &-appear
    opacity: 0
  &-enter-active, &-appear-active
    opacity: 1
    transition: opacity 1000ms

.fade-slow
  &-enter, &-appear
    opacity: 0
  &-enter-active, &-appear-active
    opacity: 1
    transition: opacity 2000ms
