.app-header
  position: fixed
  z-index: 50
  left: 0
  right: 0
  top: 0
  padding: 1.625rem 3.125rem
  background-color: transparent
  &__btn
    border-radius: 100%
    width: 3.125rem
    height: 3.125rem
  &__menu-icon
    max-width: 44%
  &__logo-icon
    max-width: 11.25rem